<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
     
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>
     
      <!-- Be sure to leave the brand out there if you want it shown -->
      <div id="logo"><a href="/"><img src="/static/img/site/logo.png" alt="ZENSTEALTH" /></a></div>

      <!-- Place destinations here -->
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Interests<i class="caret"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/music">Music</a></li>
              <li><a href="/reading">Reading</a></li>
              <li class="divider"></li>
              <li><a href="/guitar-gear">Guitar Gear</a></li>
            </ul>
          </li>
          <li><a href="/projects">Projects</a></li>             
        </ul>
      </div>
     
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
      <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav pull-right">
          <li><a href="/creative-commons"><img alt="Creative Commons License" src="/static/img/site/80x15.png" /></a></li>
        </ul>
      </div>
     
      </div>
    </div>
</div>
