<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">ZENSTEALTH</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/reading">Reading</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/creative-commons"><img alt="Creative Commons License" class="cc" src="/static/img/80x15.png" /></a></li>
      </ul>
    </div>
  </div>
</div>