<div id="sections">
  <div id="block1">
    <div><a href="/">Home</a></div>
    <div><a href="/about">About</a></div>
    <div><a href="/music">Music</a></div>
    <div><a href="/reading">Reading</a></div>
  </div>
  <div id="block2">
    <div><a class="twitter" href="http://twitter.com/zenstealth">Twitter</a></div>
    <div><a class="tumblr" href="http://tumblr.zenstealth.com">Tumblr</a></div>
    <div><a class="facebook" href="http://facebook.com/zenstealth">Facebook</a></div>
    <div><a class="lastfm" href="http://www.last.fm/user/zenstealth">Last.fm</a></div>
    <div><a class="spotify" href="http://open.spotify.com/user/zenstealth">Spotify</a></div>
  </div>
  <div id="block3">
    <div><a class="github" href="https://www.github.com/zenstealth">GitHub</a></div>
    <div><a class="rss" href="http://feeds.feedburner.com/zenstealth">RSS</a></div>
  </div>
</div>