html, body { color: #FFFFFF; font-size: 15px; font-family: "Helvetica Neue", Helvetica, sans-serif; }

/* IMPORTANT ELEMENT STUFF */
h1 { color: #00ff00; font-size: 34px; font-weight: 200; }
h2 { color: #FFFFFF; font-size: 24px; font-weight: 300; }
h3 { color: #FFFFFF; font-size: 18px; font-weight: 700; }
strong {color: #FFF; font-weight: 700;}

p.small { color: #ededed; font-size: 12px; font-style: italic; }
figcaption { color: #555; margin-top: 10px; padding-bottom: 10px; }

li { font-size: 15px; line-height: 28px; }
ul { list-style-type: square; margin: 0 0 25px 15px; }

code, pre { color: #000; }

/* IMPORTANT BODY STUFF */
#container { min-height:100%; position:relative; }
#content { max-width: 600px; padding: 0 0 0 50px; min-height: 100%; margin: 50px 0 0 0; }
#content p { line-height: 28px; margin-bottom: 20px; }

.nav a { font-size: 16px;}
.navbar-inner { padding-left: 48px; }

.dropdown-menu { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: #00ff00;
   background-image: none;
   background-repeat: repeat-x;
   color: #000000;
	text-decoration: none; }

.title { padding: 0 0 20px 0; }
.title h1 { font-weight: 300; }
.article { margin: 0 0 40px 0; }
.article h2 { margin: -5px 0 0 0; font-size: 24px }
.authoring { margin: 4px 0 0 0; padding: 0 0 10px 0; font-size: 15px; color: #FFFFFF; }
.post_info { color: #A3A3A3; margin: -5px 0 0 0; padding: 0 0 20px 0; font-size: 14px;  }
.post_info a { color: #A3A3A3; }

.listing { margin: -10px 0 0 0; padding: 0; }
.listing ul { margin: 0; padding: 0; }
.listing li { font-size: 13px; list-style: none; padding: 5px 0; margin: 0; color: #777777; border-bottom: 1px solid #333; }
.listing li span { float: right; }
.listing a { text-decoration: none; }
.listing a:hover { text-decoration: underline; }

#index h1 { color: #FFFFFF; font-weight: 300; font-size: 34px; }
#index p { margin: 2px; }
#recent { margin-top: 30px; }
#music { margin-top: 15px; line-height: 28px; }
#technical { padding-top: 10px; border-top: 1px solid #666; }
#technical ul { padding-bottom: 10px; }

#reading p { margin: 0; }
#reading #favorites { border-top: 1px solid #333; }

.swell p { padding-top: 5px; line-height: 10px; }
.swell h2 { display: inline; }
.swell span { float: right; }

#cc { padding-bottom: 15px; }

/* ADD-ONS */

/* Social Media Buttons */
#social { margin: 15px 0 0 0; }
#social a { font-size: 12px; font-weight: bold; margin: 0 5px 0 0; padding: 3px 5px;  text-decoration: none;  border-bottom: none;  text-shadow: black 0.1em 0.1em 0.2em; border-radius: 2px; }
#social a.twitter { background-color: #52D4FF; color: #FFFFFF; }
#social a.tumblr { background-color: #2C4762; color: #FFFFFF; }
#social a.facebook { background-color: #3B5998; color: #FFFFFF; }
#social a.lastfm { background-color: #DE1303; color: #FFFFFF; border: 0; }
#social a.github { background-color: #FFFFFF; color: #000000; text-shadow: black 0.1em 0.1em .5em;}
#social a.gplus { background-color: #B43122; color: #FFFFFF; text-shadow: black 0.1em 0.1em .5em; }
#social a.steam { background-color: #000000; color: #FFFFFF; }
#social a.rss { background-color: #FF7F00; color: #FFFFFF; }

 /* Scroll to top button */
#toTop { font-family: "Helvetica Neue", Helvetica, sans-serif;
			position:fixed; /* this is the magic */
         bottom:10px; /* together with this to put the div at the bottom*/
         right:10px;
         cursor:pointer;
         display:none; }
        
#toTop i { font-size: 18px; }
