@import "/static/css/reset.css";
@import "/static/css/syntax.css";

html, body {height:100%;}
body { 
  background-image:url('/static/media/dvsup.png');
  background-color: #000;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px; 
  line-height: 27px;
  }

/* Start Important Page Stuff */
#container { min-height:100%; position:relative; }
#body { padding: .1px 0 0 0; padding-bottom:50px;   /* Height of the footer */ }
#content { max-width: 520px; padding: 0 0 0 50px; min-height: 100%; margin: 50px 0 0 0; }
#footer { position:absolute; bottom:0; width:100%; height:50px;   /* Height of the footer */ }
#footer p { padding: 0 0 0 50px; color: #999; font-size: 16px; }
#footer a { margin: 0 15px 0 0; }

#stuff, #blog { padding: 0 0 25px 0; }
#reading ul { margin: 0 0 25px 15px; }

/* Header Stuff */
.title { padding: 0 0 20px 0; }
.title a:hover { border-bottom: none; }
.authoring { margin: -18px 0 0 0; padding: 0 0 20px 0; font-size: 15px; }
.authoring p { line-height: 15px; }
#technical { padding-top: 10px; border-top: 1px solid #666; }
#technical ul { padding-bottom: 10px; }
#about p {padding-bottom: 5px; }
#music { padding: 20px 0 0 0; }

/* Blog Content */

#post h2 { font-weight: bold; }
#post #date { padding: 0 0 20px 0; font-style: italic; font-size: 14px;}
#article { padding: 0 0 30px 0; }
#article p { margin: 0 0 10px 0; }


/* Before Increments - When adding increments, don't forget to add div id="before" to the page */
.before { counter-reset: questions; }
.before h2 { line-height: 1em; }
.before h2:before {counter-increment: questions; content: counter(questions); color: #000000; background-color: #00FF00; padding: 5px; margin: 0 10px 0 0; }
.before h3 { padding: 10px 0 40px 0; }

/* Social Media Buttons */
#social { margin: 15px 0 0 0; }
#social a { font-size: 12px; font-weight: bold; margin: 0 5px 0 0; padding: 3px 5px;  text-decoration: none;  border-bottom: none;  text-shadow: black 0.1em 0.1em 0.2em; border-radius: 2px; }
#social a.twitter { background-color: #52D4FF; color: #FFFFFF; }
#social a.tumblr { background-color: #2C4762; color: #FFFFFF; }
#social a.facebook { background-color: #3B5998; color: #FFFFFF; }
#social a.lastfm { background-color: #DE1303; color: #FFFFFF; border: 0; }
#social a.spotify { background-color: #70C800; color: #FFFFFF; }
#social a.github { background-color: #FFFFFF; color: #000000; text-shadow: black 0.1em 0.1em .5em;}
#social a.gplus { background-color: #B43122; color: #FFFFFF; text-shadow: black 0.1em 0.1em .5em; }
#social a.steam { background-color: #000000; color: #FFFFFF; }
#social a.rss { background-color: #FF7F00; color: #FFFFFF; }

/* Headings */
h1 { color: #00ff00; font-size: 34px; margin-bottom:20px; font-weight: 200; }
h2 { color: #FFFFFF; font-size: 22px; margin: 0 0 20px 0; font-weight: 300; }
h3 { color: #FFFFFF; font-size: 16px; padding: 20px 0 10px 0; margin: -20px 0 -10px 0; font-weight: bold; }
h3 a {border-style: none;}
strong {color: #FFF; font-weight: 700;}
pre, code { font-family: Courier, serif; }

p { color: #ffffff; margin-bottom: 15px; }
p.small { color: #ededed; font-size: 12px; font-style: italic; }
p.quote { font-style:italic; }
p.image { margin-bottom: 5px; }

a { color: #00ff00; text-decoration: none; }
a:hover { color: #00ff00; border-bottom: 1px solid #666; }
a.small { color: #ededed; border-bottom: 1px solid #666; }
a.small:hover { border-bottom: 1px solid #00ff00; }
a.book  { color: #FFFFFF; border-bottom: 1px solid #666; }
a.book:hover { border-bottom: 1px solid #00ff00; }
a.image { border-bottom: none; } 

img { max-width: 100% }
img.lastfm { width: auto; } 

ul { list-style-type: square; margin: 0 15px 0 15px; color: #ffffff; }
ol { list-style-type: decimal-leading-zero; margin:1em 0 2em 0; }