<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Adith Radityo" />
  <meta name="description" content="Personal website of Adith Radityo. He likes technology, science, minimalism, and indie rock." />
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="alternate" type="application/rss+xml"  href="http://feeds.feedburner.com/zenstealth" title="ZENSTEALTH RSS">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="screen, projection" />
  <script src="/static/javascript/analytics.js"></script>
</head>

<body>
  <div id="container">
    <div id="body">
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>
</html>
