<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Adith Radityo" />
  <meta name="description" content="Personal website of Adith Radityo. He likes technology, science, minimalism, and indie rock." />
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="alternate" type="application/rss+xml"  href="http://feeds.feedburner.com/zenstealth" title="ZENSTEALTH RSS" />
  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />

  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script> 
  <script type="text/javascript" src="/static/js/hover.js"></script> 
  <script type="text/javascript" src="/static/js/backtotopscroll.js"></script> 

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24220862-1']);
  _gaq.push(['_setDomainName', 'zenstealth.com']);
  _gaq.push(['_setAllowHash', 'false']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>

<body>
{% include header.html %}

<div id="container">
  <div id="body">
    <div id="content">
    {{ content }}
    </div>
  </div>
  <div id="toTop"><button class="btn">Back to Top</button></div>
</div>

<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-430778-B";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>

</body>
</html>
