<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Adith Radityo" />
  <meta name="description" content="Personal website of Adith Radityo. He likes technology, science, minimalism, and indie rock." />
  
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="alternate" type="application/rss+xml"  href="http://feeds.feedburner.com/zenstealth" title="ZENSTEALTH RSS">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/application.js"></script>
  <script type="text/javascript" src="/javascript/jquery.boastful.js"></script>
  <script type="text/javascript">
   $(document).ready(function() {
      $('#boastful').boastful()
   });
  </script>
</head>

<body>
<div id="header">
  <a href="/">
    <img src="images/mangatar.png" alt="Me" height="75" width="75" class="avatar" />
  </a>

  <div id="me">
    <a href="/">
      <span id="adith">adith</span>
      <span id="radityo">radityo</span>
    </a>
  </div>

  <div id="sections">
    <div><a href="/">Home</a></div>
    <div><a href="/about.html">About</a></div>
    <div><a href="/music.html">Music</a></div>
    <div><a href="/reading.html">Reading</a></div>
    <p></p>
    <div><a href="http://twitter.com/zenstealth">Twitter</a></div>
    <div><a href="http://facebook.com/zenstealth">Facebook</a></div>
    <div><a href="http://www.last.fm/user/zenstealth">Last.fm</a></div>
    <div><a href="https://www.github.com/zenstealth">GitHub</a></div>
  </div>

</div>

{{ content }}

<script src="/javascript/analytics.js"></script>
</body>
</html>
