<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Adith Radityo" />
  <meta name="description" content="Personal website of Adith Radityo. He likes technology, open source, science, minimalism, and indie rock." />
  
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="alternate" type="application/rss+xml"  href="http://feeds.feedburner.com/zenstealth" title="ZENSTEALTH RSS">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/custom.js"></script>
</head>

<body>
<div id="header">
  <a href="/"></a>

  <div id="me">
    <a href="/">
      <span id="adith">adith</span>
      <span id="radityo">radityo</span>
    </a>
  </div>

{% include sidebar.html %}

</div>

{{ content }}

<script src="/javascript/analytics.js"></script>
</body>
</html>
